.dashed-link {
    text-decoration: none;
    color: rgb(119, 215, 250);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 85%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition-property: background-size, color;
    transition-duration: .3s, 0.5s
}



.dashed-link:hover {
    color:cornflowerblue;
    background-size: 100% 2px;
    cursor: pointer;
}