.app-wrapper>nav {
    grid-column: 1/3;
    grid-row: 2/13;
    background-color:chartreuse;
  }
  
.avatar {
  position: absolute;
  right: 2.0%;
}




.login-button {
  border-radius: 42%;
  padding-left: 50px;
  padding-right: 50px;
 
  background-color: #1E1E1E;
  color: #FFF5D1;

  font-weight: 400;
  font-size: 17px;
}

.login-button:hover {
  background-color: rgb(87, 87, 87);
  color: #FFF5D1;
  
}

.my-navbar-link {
  color: #1E1E1E;
  font-weight: 600;
  font-size: 18px;
}

.my-navbar-brand {
  font-weight: 600;
}

#offcanvasNavbar-expand-lg {
  background-color: var(--main-color);
}

.text-beige {
  color: #FFF5D1;
}

.navbar-login-button {

}