@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Great+Vibes&family=Herr+Von+Muellerhoff&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Caveat:wght@400..700&family=Great+Vibes&family=Herr+Von+Muellerhoff&family=Lobster&family=Marck+Script&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  --main-color: #F3EEE8; 
  --dark-grey: #BDBAB4;
  --bs-border-color: #BDBAB4;
  --bs-border-width: 2px;
}

.font-caveat {
  font-family: "Lobster", sans-serif;
}

body {
  height: 100%;
  background: #F3EEE8;
  font-family: "Philosopher";
}

#root {
  height: 100vh;
}

.app-wrapper {
  height: 100vh;
}

.body-wrapper {
  height: 100vh;
}



.video-bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-bg video {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -9999;
}

.video-bg__content {
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu {
  margin-bottom: 5%;
  height: 70%;
  width: 35%;
  z-index: 2;
  background-color: white;
  border: 2px solid;
  border-radius: 50px;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}



